*{ 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 17px;    
    margin-top: 5px;
}

body {
    background-color: rgb(243, 243, 243);
    text-align: center;
}

.cabecalho {
    background-color: lightblue;
    margin-top: 20px;
    margin-left: 400px;
    margin-right: 400px;
    border: 2px solid black;
}

.titulo {
    font-size: 25px; 

}

.formulario {
    border: 2px solid black;
    margin-left: 400px;
    margin-right: 400px;
    margin-top: 20px;
}