*{ 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 17px;    
    margin-top: 5px;
    background-color: white;
}

body {
    background-color: white;
    text-align: center;
}

.cabecalho {
    margin-top: 40px;
    margin-left: 400px;
    margin-right: 400px;
    border: 2px solid black;
}

.titulo {
    font-size: 25px; 
    padding: 10px;

}

.formulario {
    border: 2px solid black;
    margin-left: 400px;
    margin-right: 400px;
    margin-top: 10px;
}

.image {
    margin-top: 20px;
}

.btn {
    margin-top: 10px;
    margin-bottom: 20px;
}

.button {
    border: none;
    color: black;
    background-color: lightblue;
    padding: 15px 32px;
    border-radius: 12px;
    font-size: 16px;
    margin-left: 15px;
}

.button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }

.output {
    border: 2px solid black;
    margin-left: 400px;
    margin-right: 400px;
    margin-top: 10px;
}

.tbCslCadastros {
    margin-top: 20px;
    margin-left: 33px;
    border: 1px solid black;
    width: 95%;
    border-collapse: collapse;
}

.thClsInfoNome {
    padding: 5px;
}

.tdClsInfoNome {
    padding: 1px;
}

/* midias queries */

@media (max-width: 1024px) {
    .body {
        width: 90%;
    }
}

@media (max-width: 650px) {
    body {
        background-color: white;
    }

    .cabecalho {
        width: 90%;
    }

    .formulario {
        width: 90%;
    }

    .cabecalho {
        display: none;
    }

    .cabecalho {
        width: 100%;
    }
}